@font-face{
	font-family:"trash";
	src : url("Sugar_Death2.ttf");
}
body {
	background-color:black;
	margin:0;
	padding:0;
}
#canvas{
	display:block;
	margin: 120px auto;
	float:left;
}

#left {
	float:left;
	display:inline-block;
	margin:120px 0 0 21%;
	height:500px;
	width: 150px;
	background-color: #3348ea;
}

#right {
	display:inline-block;
	float:left;
	margin:120px 0 0 0 ; 
	height:500px;
	width: 150px;
	background-color:#3348ea;
}
a.info{
	text-decoration: none;
}
a.info span {
	font-family: arial;
	position:absolute;
 	margin-top:3px;
 	margin-left:-55px;
    color:#3348EA; background:rgba(0,0,0,.9);
    padding:15px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;

}
a.info:hover span, a.info:focus span{ transform:scale(1) rotate(0);  opacity:1;}
